.chats {
  max-width: 700px;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  padding: 2rem;
}

.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.gptDiv {
  text-align: left;
  font-size: 0.9rem;
}

.userMessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15rem;
  max-width: 500px;
  width: fit-content;
}

.hljs {
  border-radius: 14px !important;
}

pre {
  white-space: pre-wrap;
}

.chats::-webkit-scrollbar {
  width: 8px;
}

.chats::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 8px;
}
